body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
html {
  font-size: 22px;
  font-family: sans-serif;
}
@media (min-width: 420px) {
  html {
    font-size: 32px;
  }
}
button {
  font-size: 1rem;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
  transition: filter 0.25s;
  justify-content: center;
  align-items: center;
}
button:hover {
  filter: brightness(1.15);
}
.app {
  margin: 1em auto;
  max-width: 520px;
  min-width: 280px;
}
.display,
.button-panel {
  display: flex;
}
.display {
  font-size: 1.5rem;
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  justify-content: flex-end;
  align-items: center;
}
.button-panel button {
  border: 0.5px solid darkgray;
}
