body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body, button {
  font-size: 32px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  width: 700px;
}
.display, .button-panel {
  height: 100px;
  display: flex;
}
.display {
  font-size: 1.5em;
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 0 0.5em;
  justify-content: flex-end;
  align-items: center;
}
.button-panel button {
  border: 1px solid darkgray;
}
